* {
  margin: 0;
  padding: 0;
}

body {
  background-color: ghostwhite;
}
.whole-page {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  column-gap: 50px;
}

.left-dash {
  height: 770px;
  width: 250px;
  background-color: black;
  margin: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.person {
  height: 50px;
  width: 50px;
  position: relative;
  top: -20px;
  left: 100px;
  background-color: grey;
  border-radius: 50%;
}

.person h4 {
  color: white;
  margin-left: 10px;
}
.person img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.white-dash button {
  background-color: white;
  background-image: url("/images/columns-gap.svg");
  background-repeat: no-repeat;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  margin: 20px;
  margin-top: 70px;
  color: coral;
}

.vital-task a {
  color: white;
  margin-left: 50px;
  background-image: url("images/lightbulb.svg");
  background-repeat: no-repeat;
  background-color: black;
  text-decoration-line: none;
}

.my-task,
.categories,
.settings,
.help {
  margin-top: 30px;
}
.my-task a,
.categories a,
.settings a,
.help a,
.logout a {
  color: white;
  margin-left: 50px;
  text-decoration-line: none;
}

.logout {
  margin-top: 300px;
}

.pop-up {
  height: 600px;
  width: 600px;
  border: 2px solid #000;
  margin-top: 50px;
  background-color: white;
  position: relative;
}

.upper-tab {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.upper-tab h3 {
  text-decoration: underline;
  text-decoration-color: coral;
}

.inputs {
  height: 450px;
  width: 460px;
  border: 1.5px solid black;
  position: relative;
  left: 70px;
  top: 30px;
}

.fill {
  height: 10px;
  width: 350px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

#priority {
  display: flex;
  column-gap: 20px;
  justify-content: space-evenly;
  margin-top: 20px;
}

#last-section {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  column-gap: 20px;
}

#description {
  height: 210px;
  width: 250px;
}

#upload-image {
  align-content: center;
}
#done-button {
  height: 30px;
  width: 70px;
  background-color: orangered;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
}
